body {
    font-family: inter;
    color: #000000;
    background: linear-gradient(107.29deg, #56F1C0 0.38%, #70D3F0 100%);
}
    
main {
    margin: 1.5% 15% 1% 15%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}
    
h1 {
    text-align: center;
    font-weight: bold;
}
    
a {
    text-decoration: none;
    color: #000000;
}
    
#fejlesztok {
    font-style: normal;
    text-align: center;
}
    
.container-xxl {
    background-color: #ffffff80;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
    
.leiras {
    background-color: rgba(255, 255, 255, 0.5);
}
    
.leiras>p {
    padding: 1em;
}
    
h2 {
        font-weight: bold;
    }
    
.carousel-inner {
    background-color: rgba(255, 255, 255, 0.5);
    font-family: inter;
}
    
footer {
    text-align: center;
    height: 90px;
    background: #ffffff80;
    box-shadow: 0px 10px 8px #0000002c;
    font-weight: bold;
}
    
@font-face {
    font-family: inter;
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}
    
.navbar-nav.navbar {
    width: 100% !important;
    color: black;
    font-weight: 600;
    display: flex;
    gap: 20%;
}
    
.nav-link.active {
    font-size: x-large;
}
    
.navbar-nav {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
    
.carousel-item {
    padding-bottom: 3.5em;
    }
    
.navbar.sticky-top.navbar-expand-md.navbar-light {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 8px #0000002c;
}
